.accordion-container{
    width: 100%;
}
.question{
    display: flex;
    align-items: center;
    height: 70px;
    padding: 25px;
    background-color: #ffffff91;
    cursor: pointer;
}
.question::after{
    content: "V";
    margin-left: auto;
}
.accordion.active .question, .question:hover{
    background-color: #ffb820;
}
.accordion.active .question::after{
    content: "-";
    margin-left: auto;
}
.answer{
    display: flex;
    align-items: center;
    background-color: #eee;
    height: 0;
    overflow: hidden;
    transition: 0.5s; 
    padding: 0 15px;
}
.accordion.active .answer{
    height: 70px;
}
