.portfolio{
    height:250px;
    background-size:cover;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
  }
  .portfolio:hover{
    background-color: rgba(218, 86, 10, 0.5);
    background-blend-mode: lighten;
  }
  #portfolio-1{
    background-image: url('../img/portfolio/C1.jpg');
  }
  #portfolio-2{
    background-image: url('../img/portfolio/C2.jpg');
  }
  #portfolio-3{
    background-image: url('../img/portfolio/C3.jpg');
  }
  #portfolio-4{
    background-image: url('../img/portfolio/C4.jpg');
  }
  #portfolio-5{
    background-image: url('../img/portfolio/C5.jpg');
  }
  #portfolio-6{
    background-image: url('../img/portfolio/C6.jpg');
  }
  #portfolio-7{
    background-image: url('../img/portfolio/C7.jpg');
  }
  #portfolio-8{
    background-image: url('../img/portfolio/C8.jpg');
  }
  